@import "tailwindcss";

.hero{
    background-image: url('../public/images/hero.png');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 0.8s ease-out;
}

.hero-button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right, #06b6d4, #3b82f6); /* subtle reverse */
}

.hero-title {
  line-height: 1.1;
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInUpText 1.2s ease-out forwards;
  animation-delay: 0.3s;
}
.card {
  width: 300px;
  padding: 25px;
  border-radius: 16px;
  /* background-color: white; */
  box-shadow: 0 10px 20px rgba(0, 255, 0, 0.2); /* green shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 200, 0, 0.4); /* deeper green shadow */
}
.eletric {
  background-image: url('../public/images/electric.png');
  background-size: cover;
background-position: center;
background-repeat: no-repeat;
}


@keyframes fadeInUpText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}